<script>
	import { browser } from '$app/environment'
	import { onMount } from 'svelte';

	onMount(async () => {
		if (browser) {
			let titleElement = document.getElementById('title');
			if (titleElement !== null) {
				let name = new URLSearchParams(window.location.search).get('name');
				console.log(name);
				if (name !== null) {
					// titleElement.innerHTML = `Hello ${name}`;
					titleElement.innerHTML = 'Hello '+ name;
				}
			}
		}
	})
</script>
<svelte:head>
	<title>About</title>
	<meta name="description" content="About this app" />
</svelte:head>

<div class="text-column">
	<h1 id="title">Hello user!</h1>

	<p>
		This is a <a href="https://kit.svelte.dev">SvelteKit</a> app. You can make your own by typing the
		following into your command line and following the prompts:
	</p>

	<pre>npm create svelte@latest</pre>

	<p>
		The page you're looking at is purely static HTML, with no client-side interactivity needed.
		Because of that, we don't need to load any JavaScript. Try viewing the page's source, or opening
		the devtools network panel and reloading.
	</p>

	<p>
		The <a href="/sverdle">Sverdle</a> page illustrates SvelteKit's data loading and form handling. Try
		using it with JavaScript disabled!
	</p>
</div>
